<table>
  <tr>
    <th>Name</th>
    <% if @show_all %>
      <th>User</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @decisions.each do |decision| %>
  <tr>
    <td><%= link_to decision.name, decision_path(decision) %></td>
    <% if @show_all %>
      <td><%= decision.user ? decision.user.username : "ERROR: NO USER" %></td>
    <% end %>
    <td><%= link_to 'Destroy', decision_path(decision), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Decision', new_decision_path %>
