<h3>Linear Weighted Decision Analysis</h3>

<p>This site is an implementation of "Linear Weighted Decision Analysis".
That's fancy-talk for "making decisions based mainly on the most important
factors".</p>

<p>For each decision, you first write down (or in this case, enter into the
program) what factors you want to consider, and how important they are.  In
this case, I supply a seven-point scale, from "Very Low" to "Very High"
importance.  For example, if you're deciding what car to buy, you might want to
consider things like price, reliability, fuel economy, cargo capacity, and
comfort.</p>

<p>Then you enter what your alternatives are.  In this case, you might be
considering a Honda Civic Hybrid, Toyota Prius, Ford Focus, Chevy Volt, or Audi
A4.</p>

<p>Lastly, you enter how good each alternative is, in each factor.  I supply a
seven-point scale, from Very Bad to Very Good.  For instance, the hybrids would
have Very Good fuel economy, but the Audi is probably more comfortable.</p>

<p>Then, The Decider does the work!  If you want to do Linear Weighted Decision
Analysis by hand, multiply each rating by the factor's weight, and add them up
for each alternative.  The alternative with the highest total is the
winner!</p>

<h3>Site Features</h3>

<p>This is a very rough prototype.  The UI has not been polished much, and I am
still tweaking the workflow.</p>

<p>Other planned features include:</p>

<ul style="list-style-position: inside;">
  <li>Guest account, so you can try it without creating an account</li>
  <li>Help</li>
  <li>Member directory (opt-in), with name and proximity searches</li>
  <li>Following people (need not be bidirectional)</li>
  <li>Friending people (must be bidirectional)</li>
  <li>Making selected decisions visible to your friends, followers, other members, or even non-members</li>
  <li>Seeing various lists of decisions, such as all you can see, just yours, just a given person's, etc.</li>
  <li>Copying someone else's decision to your account so you can play with it</li>
  <li>Sending me feedback</li>
  <li>More info about me</li>
  <li>Feel free to suggest more!</li>
</ul>

<h3>Credits</h3>

<p>The programming was all done by <a href="http://www.davearonson.com/"
target="_new">me</a>.</p>

<p>The background image comes from <a href="http://commons.wikimedia.org/"
target="_new">Wikimedia Commons</a>, specifically <a
href="http://commons.wikimedia.org/wiki/File:Think_about_balance.png"
target="_new">http://commons.wikimedia.org/wiki/File:Think_about_balance.png</a>.</p>
