<h1>Welcome <%= @user ? @user.username : "Visitor" %>!</h1>
<% if @user %>
  <p><%= link_to 'Your Decisions', user_decisions_path(@user) %></p>
  <% if @user.is_admin? %>
    <p><%= link_to 'Everybody\'s Decisions', user_decisions_path(@user) %></p>
  <% end %>
<% end %>
