<p>Did you think that George W. Bush was The Decider?</p>

<p>No, THIS is The Decider!</p>

<p>The Decider helps you make rational decisions, based on how the options
rate in various aspects, and how important those aspects are to you.</p>

<p>It does this using a technique called Weighted Linear Decision Analysis.
For more on this, see <a href="/home/about" target="_new">the About page</a>.
But don't worry, you don't have to understand it, just tell us what you want
and let The Decider do the rest!</p>
