<p>
  <b>Name:</b>
  <%= @alternative.name %>
</p>

<p>
  <b>Decision:</b>
  <%= @alternative.decision %>
</p>


<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
