// text entry box for an attribute of an object
.attr_field { font-size: 1.25em }

// label for an attribute of an object
.attr_label { font-size: 1.25em }

#author_links {
  clear: both;
  padding: 1em;
  text-align: center;
}

// link to go back to previous page
#back_link { text-align: center }

#bgcontainer {
  background-color: rgba(204, 255, 204, 0.9);
  // TODO: figure out how to make it cover the whole thing!
  // WHY DOESN'T IT?!
  height: 150%;
  position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;
  width: 100%;
}

body {
  background-image: url('Think_about_balance.png');
  font-size: 14pt;
  line-height: 1.5em;
  text-shadow: black 0.05em 0.05em 0.05em;
}

/* note that this is INSIDE main */
#error_explanation {
  color: red;
  font-weight: bold;
  text-shadow: none;
}

.form_item {
  margin: .6em;
}

h1 {
  clear: both;
  text-align: center;
}

#inner_container {
  float: right;
  left: -50%;
  position: relative;
}

#innerMOST_container {
  float: left;
  left: 50%;
  position: relative;
}

#main {
  background-color: rgba(0, 0, 255, 0.9);
  border-radius: 2em;
  border: .2em solid;
  box-shadow: .5em .5em 1em black;
  color: white;
  float: left;
  left: 50%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  padding: .5em 2em 0;
  position: relative; 
}

/* override normal link styles */
#main a { color: white; }
#main a:hover { color: green; }

#main_container {
  float: right;
  position: relative;
  left: -50%;
  max-width: 90%;
}

// the name of an object, when showing it, in a way that features it
.name { font-size: 1.5 em }

p {
  text-indent: 1em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

#rating {
  font-weight: bold;
  text-shadow: black 0.2em 0.2em 0.2em;
}

#site_title {
  float: left;
}

#top_menu {
  float: right;
}

td {
  padding: 0.5em;
}
