#author_links {
  clear: both;
  text-align: center;
}

#site_title {
  float: left;
}

#top_menu {
  float: right;
}

body {
  background-image: url('Think_about_balance.png');
  font-size: 12pt;
  line-height: 1.5em;
  text-shadow: black 0.05em 0.05em 0.05em;
}

div.form_item {
  margin: .6em;
}

div#main {
  background-color: rgba(0, 0, 255, 0.96);
  border:2px solid;
  border-radius:25px;
  box-shadow: 10px 10px 5px gray;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px 20px;
}

/* note that this is INSIDE main */
div#error_explanation {
  color: red;
  font-weight: bold;
  text-shadow: none;
}

/* override normal link styles */
div#main a { color: white; }
div#main a:hover { color: green; }

h1 {
  clear: both;
  text-align: center;
  line-height: 2em;
}

p {
  text-indent: 1em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
