#author_links {
  clear: both;
  text-align: center;
}

#site_title {
  float: left;
}

#top_menu {
  float: right;
}

body {
  background-image: url('Think_about_balance.png');
  font-size: 14pt;
  line-height: 1.5em;
  text-shadow: black 0.05em 0.05em 0.05em;
}

div.form_item {
  margin: .6em;
}

div#main {
  background-color: rgba(0, 0, 255, 0.96);
  border: .2em solid;
  border-radius: 2em;
  box-shadow: .5em .5em 1em black;
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em 2em 0;
}

/* note that this is INSIDE main */
div#error_explanation {
  color: red;
  font-weight: bold;
  text-shadow: none;
}

/* override normal link styles */
div#main a { color: white; }
div#main a:hover { color: green; }

h1 {
  clear: both;
  text-align: center;
}

img#balance_on_welcome {
  border-radius: 18px;
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  vertical-align: top;
}

p {
  text-indent: 1em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
